@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './tailwind.css';

body {
 margin: 0;
 padding: 0;
}
.swiper-button-prev,
.swiper-button-next {
  color: black !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ff9100 !important;
}



.swiper-pagination-bullet-active {
      color: #ff9100 !important;
      background-color: #ff9100 !important;
 }
  